---
title: archives
layout: page
archives: true
---

<article class="fir">
    <div id="archives">
    {% for post in site.posts %}
        {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
        {% if year != y %}
            {% assign year = y %}
            {% if forloop.first %}
            {% else %}
        </ul>
            {% endif %}
        <h4>{{ y }}</h4><ul>
        {% endif %}
        <li>
            <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </li>
        {% if forloop.next %}
        </ul>
        {% endif %}
    {% endfor %}
    </div>
</article>
