---
title: tags
layout: page
---

<article class="fir">
    <div id="archives">
    {% for tag in site.tags %}
        <h4 id="{{ tag[0] }}">{{ tag[0] }}</h4>
        <ul>
            {% for post in tag[1] %}
            <li>
                <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
    </div>
</article>
<aside class="sec">
<h4>tags</h4>
{% for tag in site.tags %}
    <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
{% endfor %}
</aside>
