		<div id="header">
			<header id="blog_title"> 
				<h1><a href="{{site.url}}">{{site.title}}</a></h1>
			</header>
			<nav id="menu">
				<ul class="header-nav">
					<li><a href="{{site.url}}/home.html">home</a></li>
					<li class="current"><a href="{{site.url}}">博客</a></li>
					<li><a href="{{site.url}}">豆瓣</a></li>
					<li><a href="{{site.url}}">网盘</a></li>
					<li><a href="{{site.url}}/archives.html">存档</a></li>
					<li><a href="{{site.url}}/about.html">关于</a></li>
					<li><a href="{{site.url}}/feed" class="menu-rss" target="_blank"></a></li>
				</ul>
			</nav>
			<div class="clear"></div>
		</div>