        <div id="header">
            <header id="blog_title">
                <h1><a href="/">{{site.title}}</a></h1>
            </header>
            <nav id="menu">
                <ul class="header-nav">
                    <li><a href="http://app.ixxoo.me" target="_blank">App</a></li>
                    <li><a href="https://github.com/likebeta/note/issues" target="_blank">Note</a></li>
                    <li><a href="https://github.com/likebeta" target="_blank">Github</a></li>
                    <li{% if page.read %} class="current"{% endif %}><a href="/read">Read</a></li>
                    <li{% if page.photo %} class="current"{% endif %}><a href="/photo">Photo</a></li>
                    <li{% if page.about %} class="current"{% endif %}><a href="/about">About</a></li>
                    <li><a href="{{site.feed}}" class="menu-rss" target="_blank"></a></li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
