        <section id="content">
            <article class="post">
             <div class="date">
              <span class="day">{{ page.date | date:"%d" }}</span>
              <span class="month">{{ page.date | date:"%b" }}</span>
              <span class="year">{{ page.date | date:"%Y" }}</span>
             </div>
             <header>
              <h2><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
             </header>
             <div class="con">{{ content }}</div>
             <div class="prev_and_next">
                {% if page.previous %}
                <div><strong>上一篇： <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a></strong></div>
                {% else %}
                <div><strong>下一篇： 这个真没有！！！</strong></div>
                {% endif %}
                {% if page.next %}
                <div><strong>上一篇： <a href="{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></strong></div>
                {% else %}
                <div><strong>下一篇： 这个真没有！！！</strong></div>
                {% endif %}
             </div>
             <div class="postunder"><div id="comments">{% include comments.html %}</div></div>
            </article>
        </section>
        <div class="clear"></div>
