<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="likebeta" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="alternate" title="likebeta" type="application/atom+xml" href="../feed.xml" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../media/css/highlight.css">
	<title>test | likebeta</title>
	<!--[if lt IE 9]>
	<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script type="text/javascript" src="../media/js/jquery-1.7.1.min.js"></script>
  </head>
  <body>
	<div id="clickload">假装异步加载中...</div>
	<div id="wrap">
		<div id="header">
			<header id="blog_title"> 
				<h1><a href="http://www.ixxoo.me/home.html">冰剑博客</a></h1>
			</header>
			<nav id="menu">
				<ul class="header-nav">
					<li class="current"><a href="http://www.binjoo.net/">博客</a></li>
					<li><a href="http://www.binjoo.net/micro/">微博</a></li>
					<li><a href="http://www.binjoo.net/douban/">豆瓣</a></li>
					<li><a href="http://www.binjoo.net/disk/">网盘</a></li>
					<li><a href="http://www.binjoo.net/archives/">存档</a></li>
					<li><a href="http://www.binjoo.net/wall/">水榜</a></li>
					<li><a href="http://www.binjoo.net/about/">关于</a></li>
					<li><a href="http://www.binjoo.net/feed/" class="menu-rss" target="_blank"></a></li>
				</ul>
			</nav>
			<div class="clear"></div>
		</div>
		<section id="content">
				<article class="post">
				<div class="date">
					<span class="day">28</span>
					<span class="month">Mar</span>
					<span class="year">2013</span>
				</div>
				<header>
					<h2><a href="http://www.binjoo.net/post/1084">JAVA折腾微信公众平台（Token验证）</a></h2>
				</header>
			</article>
			<article class="post">
				<div class="date">
					<span class="day">15</span>
					<span class="month">Mar</span>
					<span class="year">2013</span>
				</div>
				<header>
					<h2><a href="http://www.binjoo.net/post/1083">我只是一个鲜果频道认领日志</a></h2>
				</header>
			</article>
			<article class="post">
				<div class="date">
					<span class="day">09</span>
					<span class="month">Mar</span>
					<span class="year">2013</span>
				</div>
				<header>
					<h2><a href="http://www.binjoo.net/post/1082">年底到年初</a></h2>
				</header>
			</article>
			<article class="post">
				<div class="date">
					<span class="day">31</span>
					<span class="month">Dec</span>
					<span class="year">2012</span>
				</div>
				<header>
					<h2><a href="http://www.binjoo.net/post/1080">2012年终总结</a></h2>
				</header>
			</article>
			<article class="post">
				<div class="date">
					<span class="day">28</span>
					<span class="month">Dec</span>
					<span class="year">2012</span>
				</div>
				<header>
					<h2><a href="http://www.binjoo.net/post/1079">入手小米2使用感受</a></h2>
				</header>
			</article>
	</section>
	<div class="clear"></div>
	<footer id="footer"> 
		<div class="foot">
			<a id="gotop" href="javascript:void(0);" onclick="return false;">TOP</a>
			<div id="copyright">Copyright &copy; 2013 likebeta, All Rights Reserved,Power by <a href="https://github.com/likebeta" target="_blank">Github Pages</a> and <a href="https://github.com/mojombo/jekyll" target="_blank">Jekyll</a></div>
		</div>
	</footer>
	</div>
  </body>
</html>
